.loginForm {
    background-color: rgba(5, 16, 39, 0.82);
    color: white;
}
.backImage {
    
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}